.imageComparisonBlock {
  width: 100%;
  aspect-ratio: 1;
  margin: 10px;

  background: var(--card-color);
  border: 0.1px solid var(--accent-color);
  border-radius: 4px;

  img {
    image-rendering: pixelated;
  }
}

.changeViewToOriginalButton {
  margin-bottom: -38px;
  position: relative;

  width: 38px;
  height: 38px;

  background: var(--accent-color);
  opacity: 0.5;
  border: 0.2px solid #1e1e1f;
  border-radius: 5px;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--secondary-color);

  cursor: pointer;

  &:hover {
    background: var(--buttonHover-color);
    opacity: 1;
  }
}
