.filesBlock {
  margin: 0 10px;
  width: 50%;

  background: var(--top-card-color);
  border: 0.1px solid var(--accent-color);
  border-radius: 4px;
  text-align: center;

  h2 {
    color: var(--secondary-color);
    padding-bottom: 8px;
  }

  li {
    list-style-type: none;
  }

  li:hover {
    background-color: var(--buttonHover-color);
    cursor: pointer;
  }
}

.folder {
  color: #ffe69a;
}

.image {
  color: #f8a988;
}

.text {
  color: #d1e1fc;
}

.notExists {
  color: #444;
}

.undefinedType {
  color: brown;
}

.selected {
  background-color: var(--accent-color);
}
