.filesBlock {
  margin: 0 10px;

  background: #302f31;
  border: 0.1px solid #cbc9cf;
  border-radius: 4px;
  width: 50%;
  text-align: center;

  div {
    color: #cbc9cf;
  }

  div:hover {
    background-color: #6d6c70;
  }
}
