.filesBlock {
  margin: 0 10px;

  background: #302f31;
  border: 0.1px solid #cbc9cf;
  border-radius: 4px;
  width: 50%;
  text-align: center;

  div:hover {
    background-color: #6d6c70;
  }
}

.folder {
  color: #ffe69a;
}

.image {
  color: #f8a988;
}

.text {
  color: #d1e1fc;
}

.notExists {
  color: #444;
}

.undefinedType {
  color: brown;
}
