.pathBlock {
  width: 100%;

  h1 {
    margin: 10px;
    padding: 10px;

    background-color: var(--card-color);
    border-radius: 10px;

    font-family: "Noto Sans";
    font-weight: 300;
    font-size: 20px;
    line-height: 15px;

    color: var(--secondary-color);
  }

  h1:hover {
    background-color: var(--buttonHover-color);
  }
}
