.list {
  color: var(--secondary-color);

  padding: auto 30px;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  article.item > a{
    display: flex;

    * {
      font-size: 20px;
    }
  }

  article.item:hover {
    color: darkgrey;
    cursor:not-allowed;
  }
}
