.textContainer {
  width: 621px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  h1 {
    color: var(--secondary-color);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
  }

  h2 {
    color: var(--accent-color);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  @media (max-width: 512px){
    width: 350px;
  }
}

.parentContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputContainer {
  margin: auto;
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 580px;
  justify-content: center;

  textarea {
    resize: none;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    outline: none;
    background: transparent;
    width: 580px;
    color: var(--secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
  }

  .textarea::-webkit-scrollbar {
    display: none;
  }

  textarea::placeholder {
    color: var(--accent-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    text-align: left;
    
  }

  .textarea.message {
    padding-bottom: 40px;
  }

  @media (max-width: 512px){
    textarea{
      width: 350px;
    }
  }
}

.button {
  border: none;
  background-color: var(--card-color);
  border-radius: 8px;
  width: 297px;
  min-height: 61px;
  color: var(--buttonText-color);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 90px;
  touch-action: manipulation;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  &:focus {
    outline: none;
  }
  &:active {
    background-color: var(--buttonHover-color);
  }
  &:hover {
    background-color: var(--buttonHover-color);
  }
}

.counter {
  color: var(--accent-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-align: right;
}

.counterError {
  color: var(--error-color);
}
