.navigationItemButton {
  display: inline-block;
  list-style: none;
}

.navigationItemLabel {
  color: #F2F2F2;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 600;
  text-decoration: none;
}
