.navigationItemButton {
  display: inline-block;
  list-style: none;
}

.navigationItemLabel {
  color: #e6e6e6;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 600;
  text-decoration: none;
}
