.headerContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px 0;
  align-items: center;
}

.navContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.switchLightContainer{
  display: block;
  text-align: right;
}

.logo{
  display: block;
  outline: none;
}
