.switchLight {
  text-align: right;
  button{
    color: var(--secondary-color);
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    outline: none;
    border: none;
  }
}
