.parentContainer {
  margin: 30vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;

  h1 {
    color: #F2F2F2;
    font-size: 48px;
    font-family: Montserrat;
    font-weight: 800;
  }

  h2 {
    color: #6D6C70;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
  }
}

.textContainer {
  text-align: center;
}
