.tutorialBlock {
  color: var(--secondary-color);

  div {
    margin: 10px;
  }

  img {
    max-width: 100%;
  }

  p {
    margin-top: 10px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.title {
  width: 50%;
  margin: 0 auto;

  color: var(--secondary-color);
}
