.tutorialBlock {
  color: white;

  div {
    margin: 10px;
  }

  img {
    max-width: 100%;
  }

  p {
    margin-top: 10px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.title {
  color: white;
  width: 50%;
  margin: 0 auto;
}
