.centerBlock {
  width: 543px;
  margin: 30vh auto;
  display: flex;
  text-align: center;

  h1 {
    color: #e6e6e6;
    margin-bottom: 13px;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 900;
  }

  h2 {
    color: #3c3b3d;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
  }
}
