.centerBlock {
  height: 500px;
  width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  text-align: center;

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #e6e6e6;
  }

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3c3b3d;
  }
}
