.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;

  @media (max-width: 1440px) {
    justify-content: normal;
  }

  @media (max-width: 425px) {
    margin-top: 100vh;
    justify-content: center;
  }
  @media (max-width: 1024px) {
    justify-content: center;
  }
}
