.projectPreview {
  color: var(--accent-color);

  h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    background: var(--card-color);
    border-radius: 9px;
  }
}

.projectPreview:hover {
  h2 {
    color: var(--secondary-color);
  }

  img {
    background: var(--buttonHover-color);
  }
}
