@import "material-icons/iconfont/material-icons.scss";

:root {
  --primary-color: #1e1e1f;
  --secondary-color: #f2f2f2;
  --accent-color: #6d6c70;
  --card-color: #3C3B3D;
}

.light-mode {
  --primary-color: #f2f2f2;
  --secondary-color: #1e1e1f;
  --accent-color: #6d6c70;
  --card-color: #A6A6A6;
}

body {
  background: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
