@import 'material-icons/iconfont/material-icons.scss';

body {
  background: #1e1e1f;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
