@import "material-icons/iconfont/material-icons.scss";

:root {
  --primary-color: #1e1e1f;
  --secondary-color: #f2f2f2;
  --accent-color: #6d6c70;
  --card-color: #3c3b3d;
  --top-card-color: #282828;
  --buttonHover-color: #4c4c4e;
  --buttonText-color: #f2f2f2;
  --error-color: #fd4c4b;
}

[data-theme="light-mode"] {
  --primary-color: #f2f2f2;
  --secondary-color: #1e1e1f;
  --accent-color: #6d6c70;
  --card-color: #e0e0e0;
  --top-card-color: #e4e4e4;
  --buttonText-color: #1e1e1f;
  --buttonHover-color: #c6c6c6;
  --error-color: #fd4c4b;
}

[data-theme="aspidBlue-mode"] {
  --primary-color: #5353CD;
  --secondary-color: #f2f2f2;
  --accent-color: #E0E0E0;
  --card-color: #e0e0e0;
  --top-card-color: #e4e4e4;
  --buttonText-color: #1e1e1f;
  --buttonHover-color: #c6c6c6;
  --error-color: #fd4c4b;
}
[data-theme="aspidBlue-mode"] body {
  background-color: #5353CD;
  background-image: url(../public/bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body {
  background: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.middle {
 flex: 1 1 auto;
 display: flex;
 align-items: center;
 justify-content: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 100%;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
  @media (max-width: 1024px) {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
  }

  @media (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
