.textContainer {
  h1 {
    color: #f2f2f2;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 13px;
  }
  h2 {
    width: 522px;
    color: #6D6C70;
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
  }
}

.imageContainer{
    margin-left: 194px;
}

.aboutContainer{
    margin: 19.30vh auto;
    display: flex;
    align-items: center;
}