.textContainer {
  width: 522px;
  h1 {
    color: var(--secondary-color);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 13px;
  }
  h2 {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
  }
}

.parentContainer {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 854px) {
    text-align: center;
    justify-content: center;
  }
  @media (max-width: 425px) {
    justify-content: flex-end;
  }
  @media (max-width: 425px) {
    img {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 768px) {
    img {
      margin-top: 0px;
    }
  }
  @media (max-width: 425px) {
    img {
      margin-top: 15px;
    }
  }
  @media (max-width: 375px) {
    img {
      margin-top: 20px;
    }
  }
}
